.infor-messenger{
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #f1f1f1;
    
    .header-infor-messenger{
        width: 100%;
        background: #fff;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        mat-icon{
            color: #999999;
        }
    }
    .example-card {
        width: 100%;
        height: 90px;
        box-shadow: none;
        padding: 5px;
        border-radius: 0;
        align-items: center;

        mat-card-header{
            width: 100%;
            padding: 5px;
        }
     
      
      .example-header-image {
        width: 60px;
        height: 60px;
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
    }
    .phone-number{
        margin-top: 10px;
        border-radius: 0;
        background-color: #fff;
        mat-card{
            display: flex;
            border-radius: 0;
            mat-icon{
                width: 20%;
            }
            div{
                width: 80%;
                p{
                    margin: 0;
                }
                hr{
                    width: 100%;
                }
            }
        }
    }
    .photo{
       
        margin-top: 10px;
        mat-card{
            display: flex;
            border-radius: 0;
            mat-icon{
                width: 20%;
            }
            div{
                width: 80%;
            }
        }
        
    }
    .share{
        margin-top: 10px;
        height: auto;
        mat-card{
            display: flex;
            border-radius: 0;
            mat-icon{
                width: 20%;
            }
            div{
                width: 80%;
            }
        }
    }
}
mat-card{
    padding: 10px;
    box-shadow: none;
    border-radius: none;
}