.example-card {
    width: 100%;
    height: 70px;
    box-shadow: none;
    padding: 0;
    mat-card-header{
        width: 100%;
        padding: 5px;
        mat-icon{
            color: rgb(138, 205, 36);
            margin-left: 70px;
        }
    }
  }
  
  .example-header-image {
    width: 50px;
    height: 50px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
