<div class="input-messenger">
    <mat-icon> attach_file</mat-icon>
    <input type="text" placeholder="Write a messenger" />
    <div class="icon">
        <mat-icon> sentiment_satisfied_alt</mat-icon>
        <mat-icon>keyboard_voice</mat-icon>
    </div>
</div>
