.header-list-chat{
    background: #fff;
    padding: 5px;
    align-items: center;
    button{
        margin-top: 6px;
    }
    .icon-menu{
        border: none;
        background-color: #fff;
        color: #a0a0a0;
        width: 30px;
    }
    .search{
        width: 80%;
        border: none;
        margin-left: 10px;
        background-color: #f1f1f1;
        height: 30px;
        border-radius: 5px;
    }
}