<mat-toolbar class="header-list-chat">
<button mat-icon-button class="example-icon icon-menu" aria-label="Example icon-button with menu icon">
<mat-icon>menu</mat-icon>
</button>
<input type="text" class="search">
</mat-toolbar>