<mat-toolbar class="header-messenger">
    <mat-card-header>
        <mat-card-title style="margin: 0;">User</mat-card-title>
        <mat-card-subtitle style="margin: 0;">Time</mat-card-subtitle>
    </mat-card-header>
    <div class="action-messenger">
        <mat-icon>search</mat-icon>
        <mat-icon> local_phone</mat-icon>
        <mat-icon style="color: #419fd9;">chrome_reader_mode</mat-icon>
        <mat-icon>more_vert</mat-icon>
    </div>
</mat-toolbar>
