.messenger-content{
    display: flex;
    width: 50%;
   
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
        margin-top: auto;
        
    }
    .content{
        max-width: 80%;
        background: #ffffff;
        border-radius: 5px;
        margin-left: 2%;
        padding: 5px;
        p{
            width: 100%;
            margin: 0;
        }
    }
}
