<div class="messenger-content">
    <div mat-card-avatar class="example-header-image"></div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum magnam temporibus corrupti sunt corporis aut. Hic reiciendis non modi similique officia voluptatibus illo. A quaerat nulla ad iure obcaecati iste?</p>
    </div>
</div>
